/build
/doc/build
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
*.a
*.d
*.so
/*.patch
/*.diff
*.orig
*.rej
*.bak
*~
,*
\#*\#
.\#*
\#_*\#
.\#_*
*.pyc
!.gitignore
.*
!.dockerignore
/a.out
/app-bdspro/build

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# cscope files
cscope.*
ncscope.*

# MirageOS

MirageOS/_build
MirageOS/dist
MirageOS/duniverse
MirageOS/mirage

# MirageOS

_build
dist
duniverse


# Testbench

Testbench/venv
Testbench/unikernel.log

dataService/venv